Source: rviz
Priority: optional
Maintainer: Arnaud TANGUY <arn.tanguy+ppa@gmail.com>
Standards-Version: 3.9.5
Section: misc
Homepage: https://github.com/ros-visualization/rviz
Vcs-git: https://github.com/ros-visualization/rviz
Vcs-Browser: https://github.com/ros-visualization/rviz
Build-Depends: debhelper (>= 9),
               pkg-config,
               cmake,
               doxygen,
               libeigen3-dev
               qtbase5-dev
               libqt5-opengl-dev
               liburdfdom-dev
               liburdfdom-headers-dev

Package: rviz 
Architecture: any
Section: libdevel
Depends: pkg-config,
         ${misc:Depends}
Description: Custom build of rviz (built against Ogre3D engine v1.9.1)
